body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}

header {
    background-color: #1d428a;
    color: white;
    padding: 2rem;
}

button {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    background-color: #ff6f00;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.player-card {
    margin: 2rem auto;
    width: 300px;
    background: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.player-card img {
    width: 100%;
    border-radius: 8px;
}